<!DOCTYPE html>
<html>
<head>
	<title>Agent Member List</title>
</head>
<body>
		<nav>
			<a href="/agents/register">Register</a>
		</nav>


<h1>Agent Member List</h1>

<ul>
	<% for (let i=0; i< agents.length; i++) { %>
		<li>
			<a href="/agents/<%= agents[i].id %>">
			<%= agents[i].name %>
			</a>
			<form action='/agents/<%= agents[i].id %>?_method=DELETE' method='POST'>
				<button>Delete</button>
			</form>
			</li>
			<a href="/agents/<%= agents[i].id%>/edit">EDIT</a>

		<% } %>

</ul>


</body>
</html>