<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
<h1>Register</h1>
	<!-- need a post route and method for a form  -->
	<form action='/agents' method='POST'>
	Name: <input type='text' name='name' />
	E-mail: <input type='text' name='eMail' />
	Password: <input type='text' name='password' />
	Sales Volume:  <input type='number' name='salesVolume' />
	<input type="submit" name="" value="Submit" />
</form>
</body>
</html>